@using EZList.Domain.Core
@model IEnumerable<DJList>

@{
    ViewBag.Title = "Lists";
}

<h2>Lists</h2>
@{
    bool isFirst = true;
}
@foreach (var s in Model)
{
    if (isFirst)
    {
        <div class="list-container-top">
            <h3>@s.ListName</h3>
            <h4>@s.Description</h4>
        </div>
    }
    else
    {
        <div class="list-container">
            <h3>@s.ListName</h3>
            <h4>@s.Description</h4>
        </div>

    }
    isFirst = false;
}
